body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Цвет фона темный */
    color: #fff; /* Цвет текста белый */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444; /* Цвет фона контейнера темно-серый */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #fff; /* Цвет заголовка белый */
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #666; /* Цвет рамки серый */
    background-color: #555; /* Цвет фона поля ввода темно-серый */
    color: #fff; /* Цвет текста белый */
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #007bff;
    text-decoration: none;
}
.audio-player {
    margin-top: 20px;
    background-color: #333; /* Цвет фона плеера */
    padding: 10px;
    border-radius: 5px;
}

.controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

button, input[type="range"], div {
    margin-right: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    width: 100px;
}

div {
    color: #fff;
}